
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  z-index: 1;
  margin: 0;
}

.dropdown-content li{
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  margin: 0;

}

.dropdown-content li:hover {
  background-color: #ddd;
  margin: 0;

}

.dropdown:hover .dropdown-content {
  display: block;
  margin: 0;

}

.clientInfo{
  padding: 10px;
  border-radius: 10px;
  font-size: 1.3rem;
  margin: 20px;
  transition: 0.5s ease;
}

.clientInfo span{
  font-weight: bolder;
  color:#881817;
}


.clientInfo a{
  text-decoration: none;
  color: black;
}

.clientInfo:hover{
  transform: scale(1.05);
  background-color: rgba(255,255,255,0.5);
}

/*////////////////////////////////////////////*/
.desHeader{
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.3rem;
  margin: 10px;
padding: 10px;
width: 95%;

}

.designer{
  margin: auto;
padding: 10px;
width: 95%;
}

.filter{
  display: flex;
  align-items: center;
}

.table1 , .desHeader , .clientInfo{
  width: 80%;
  margin: auto;
}
table tr td img{
  width: 10em;
}

table tr :not(:has(img)){
  font-size: 1.3rem;
  transition: 0.5s ease;

}


table tr td:not(:has(img)):hover {
  font-size: 1.4rem;
  padding: 0;
}

table th{
  background-color: #671614;
  color: #EFEFEF;
}

.conRequest{
  font-size: 1.3rem;
  margin: auto;
padding: 10px;
width: 95%;

}

.conImg{
      width: 15em;

}

.imagSeprater{
  background-color: #EFEFEF;
}

h3{
    padding: 10px;

}


button{
 margin: 10px 30px 10px 10px; 
  padding: 0 5px;
  background-color:#EFEFEF ;
  color: black;
  border: 2px solid black;
  font-size: 22px;
  font-weight: 500;
  transition: .4s;
  border-radius: 50px;
  text-align: center;
  text-decoration: none;
}

.btn:hover{
    background-color:#881817 ;
    color: white;
    cursor:pointer
  }