/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/css.css to edit this template
*/
/* 
    Created on : Jan 24, 2024, 9:38:40 PM
    Author     : alzeghaibi.
*/

main{
    background-image: linear-gradient(rgba(255, 255, 255, 0.7) 100%, transparent), url(image/modrenMaj.png);
    height: 700px;
    Margin-top:-4em;

}
h1{
    text-align: center;
    color: #881817;
}

div{
    text-align: center;
}
/*For the box that contain RequestInformation*/
#RequestInformationData{
    border: 2px solid black;
    margin: auto;
    padding: 10px;
    height: fit-content;
    width: 400px;
    text-align: left; /*line8 will be override*/
    font-weight: lighter;
    transition: 0.5s ease;
    border-radius:10px;
}
#RequestInformationData:hover{
    transform: scale(1.05);
    background-color:rgba(255, 255, 255, 0.716);

}
form{
    margin: 10px;
    padding: 10px;
    border: 2px solid black;
    border-radius: 10px;
    width: 445px;

}

label{
    font-size: larger;
    font-weight: bolder;
}

.btn {
    font-size: 14px;
    font-weight: 300;
    text-transform: uppercase;
    line-height: 8px;
    border-radius: 30px;
    border: none;
    background-color: #881817;
    color: white;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.btn > * {
    display: inline-block;
    transition: all ease-in-out .5s;
}

.btn__visible {
    padding: 1.2rem 3rem;
    text-align: center;
}

.btn__invisible {
    width: 100%;
    position: absolute;
    padding: 1.2rem 0;
    left: 0;
    top: -100%;
}

.btn:hover {
    background-color: #881817;
}

.btn:hover .btn__visible {
    transform: translateY(100%);
}

.btn:hover .btn__invisible {
    top: 0;
}

.btn:focus {
    outline: none;
}
.allPage{
    width: 33%;
    margin: auto;
    padding: 10px;
    background-color:rgba(255, 255, 255, 0.675);
    border-radius: 10px;
          box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.283);

}
textarea{
    min-height: 8em;
    min-width: 100%;
    padding: .5em;
    border: solid 2px #999;
    border-radius: 10px;
}