/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/css.css to edit this template
*/
/* 
    Created on : Jan 24, 2024, 9:38:40 PM
    Author     : alzeghaibi.
*/

main{
    background-image: linear-gradient(rgba(255, 255, 255, 0.6) 100%, transparent), url(image/modrenMaj.png);
    height: 700px;

}
h1{
    text-align: center;
}

div{
    text-align: center;
}
/*For the box that contain RequestInformation*/
#RequestInformationData{
    border: 2px solid black;
    margin: auto;
    padding: 10px; 
    height: fit-content;
    width: 400px;
    text-align: left; /*line8 will be override*/
    font-weight: lighter;
    transition: 0.5s ease;
    border-radius:10px; 
}
#RequestInformationData:hover{
    transform: scale(1.05);
    background-color: #59738d77;
}
form{
    margin: auto;
    padding: 10px; 
}

label{
    font-size: larger;
    font-weight: bolder;
}
