/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/css.css to edit this template
*/
/* 
    Created on : Jan 25, 2024, 7:35:06 PM
    Author     : alzeghaibi.
*/


main{
    text-align: center;
    background-image: linear-gradient(rgba(255, 255, 255, 0.6) 100%, transparent), url(image/modrenMaj.png);
    height: 700px;

}

#note{
font-size: smaller;
}
fieldset{
    color: white;
    font-size: x-large;
    height: auto;
    width: 500px;
    border-radius: 20px;
    margin: auto;
    padding: 10px; 
    font-weight: lighter;
    height: 400px;
}
.input {
    line-height: 28px;
    border: 2px solid transparent;
    border-bottom-color: #777;
    padding: .2rem 0;
    outline: none;
    background-color: transparent;
    color: #0d0c22;
    transition: .3s cubic-bezier(0.645, 0.045, 0.355, 1);
    width:90px;
    height:30px;
}

.input:focus, input:hover {
    outline: none;
    padding: .2rem 1rem;
    border-radius: 1rem;
    border-color: #7a9cc6;
}

.input::placeholder {
 color: white;
}

.input:focus::placeholder {
    opacity: 0;
    transition: opacity .3s;
}
.AllForm{
    margin: auto;
    padding: 10px; 
    background-color: #59738d98;
    border-radius: 10px;
}
button{
    background-color: transparent;
}