.BigContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:flex-start;
    width: 90%; 
    height: 70vh; 
    margin-top: .1em; 
    margin-left: 5em;
}

.Form {
    background-color: white;
    padding: 0;
    height: 60vh; 
    width: 70%;
    margin-right: 0; 
    border-radius: 10px;
  }
  
  .Picture {
    background-image: url(image/Majlas-Signin.png);
    background-size: contain;
    background-repeat: no-repeat;
    margin: 0; 
    margin-top: 14em;
    width: 40%;
    height: 100vh; 
  }

  #paragraph{
    text-align: center;
    color: #881817;
    font-size: 2em;
    margin-top: -7em;
    margin-left: 3em;
  }

.DesForm{
    margin-top: -22em;
    margin-left: 16em;
}

.ClientForm{
    margin-top: -19em;
    margin-left: 16em;
}

#Category{
    margin-left: 15em;
    margin-top: -5.9em;
    color: rgb(128,128,128);
}

.FormHeight{
    height: 2.5em;
}

#btn{
    margin-top: -1.5em;
    padding: 0 5px;
    background-color:#EFEFEF ;
    color: black;
    border: 2px solid black;
    font-size: 22px;
    font-weight: 500;
    transition: .4s;
    border-radius: 50px;
    text-align: center;
    text-decoration: none;
  }
  
  #btn:hover{
      background-color:black ;
      color: white;
      cursor:pointer
    }

    #btn1{
        margin-top: -1.5em;
        margin-left: 8em;
        padding: 0 5px;
        background-color:#EFEFEF ;
        color: black;
        border: 2px solid black;
        font-size: 22px;
        font-weight: 500;
        transition: .4s;
        border-radius: 50px;
        text-align: center;
        text-decoration: none;
      }
      
      #btn1:hover{
          background-color:black ;
          color: white;
          cursor:pointer
        }