main {
  text-align: center;
  background-image: linear-gradient(rgba(255, 255, 255, 0.7) 100%, transparent), url(image/corridor.jpeg);
  height: 700px;
  Margin-top: -4em;
}

:focus {
  outline: 0;
  border-color: #881817;
  box-shadow: 0 0 0 4px #ffe1e0;
}

.Type div {
  display: flex;
  flex-wrap: wrap;
  margin-top: -2em;
  justify-content: center;
}

.Type input[type="radio"] {
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.Type input[type="radio"]:checked+span {
  box-shadow: 0 0 0 0.0625em #ffe1e0;
  background-color: #ffffff;
  z-index: 1;
  color: #881817;
}

label span {
  display: block;
  cursor: pointer;
  background-color: #881817;
  padding: 0.375em .75em;
  position: relative;
  margin-left: .0625em;
  box-shadow: 0 0 0 0.0625em #881817;
  letter-spacing: .05em;
  color: #fff;
  text-align: center;
  transition: background-color .5s ease;
  width: 13em;
}

label:first-child span {
  border-radius: .375em 0 0 .375em;
}

label:last-child span {
  border-radius: 0 .375em .375em 0;
}

.BigContainer {
  width: 60%;
  margin-top: 3em;
  margin-left: 17em;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.675);
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  height: 67vh;
}

#paragraph {
  text-align: center;
  color: #881817;
  font-size: 2em;
  margin-top: 4em;
}

.FormHeight {
  line-height: 28px;
  border: 2px solid transparent;
  border-bottom-color: #777;
  padding-bottom: 1em;
  outline: none;
  background-color: transparent;
  color: #0d0c22;
  transition: .3s cubic-bezier(0.645, 0.045, 0.355, 1);
  width: auto;
  height: 30px;
}

.FormHeight:focus,
input:hover {
  outline: none;
  padding: .2rem 1rem;
  border-radius: 1rem;
  border-color: #8819177a;
}

.FormHeight::placeholder {
  color: #881817;
  font-weight: lighter;
  opacity: 0.7;
}

.FormHeight:focus::placeholder {
  opacity: 0;
  transition: opacity .3s;
}

.DesForm,
.ClientForm {
  color: #881817;
  height: auto;
  /*width: 500px;*/
  font-size: 18px;
  margin: auto;
  padding: 10px;
  font-weight: lighter;
  height: 400px;
}

input[type="file"]::before {
  content: "Attach                                                                             ";
  color: #881817;
  font-weight: lighter;
  opacity: 0.7;
  padding: 10%;
  cursor: pointer;
}

.ClientForm {
  margin-top: 2em;
}

#btn {
  border: none;
  width: 20%;
  height: 2.5em;
  font-size: 22px;
  font-weight: 500;
  transition: .4s;
  border-radius: 50px;
  margin-top: 1em;
  text-align: center;
  text-decoration: none;
  transition: all 0.5s ease-in-out;
  position: relative;
  overflow: hidden;
  border: 2px solid #252525;
  background-color: #EFEFEF;
  color: #333;
}

#btn:hover {
  border: 3px solid #881917bc;
  cursor: pointer
}

#btn1 {
  border: none;
  width: 20%;
  height: 2.5em;
  font-size: 22px;
  font-weight: 500;
  transition: .4s;
  border-radius: 50px;
  margin-top: 1em;
  text-align: center;
  text-decoration: none;
  transition: all 0.5s ease-in-out;
  position: relative;
  overflow: hidden;
  border: 2px solid #252525;
  background-color: #EFEFEF;
  color: #333;
}

#btn1:hover {
  border: 3px solid #881917bc;
  cursor: pointer
}

#btn1:hover, #btn:hover{
  background-color: #881817;
}
 
 #btn1::after,  #btn::after{
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  transition: all 0.5s ease-in-out;
  background-color: #881817;
  border-radius: 30px;
  visibility: hidden;
  height: 10px;
  width: 10px;
  z-index: -1;
}

#btn:hover,#btn1:hover{
  box-shadow: 1px 1px 200px #252525;
  color: #EFEFEF;
  border: none;
}

#btn:hover::after, #btn1:hover::after {
  visibility: visible;
  transform: scale(100) translateX(2px);
}

 #btn1:hover, #btn1:active, #btn1:focus,  #btn:hover, #btn:active, #btn:focus{
background-color:#881817 ;

 }
 
.DesInfo {
  margin-left: -20em;
  margin-top: 0.5em;
}

.BrandInfo {
  margin-left: 20em;
  margin-top: -15.8em;
}

.checkbox {
  margin-left: -18em;
  color: #881817;
  font-weight: lighter;
  opacity: 0.7;
}

.checkbox1 {
  margin-left: 25em;
  margin-top: -4.5em;
  text-align: left;
}